# Go build artifacts
local/
bin/
cmd/
*.exe
*.exe~
*.test
*.out


# Go workspace
go.work
go.work.sum

#lore sym link
lore

# IDE / editor
.vscode/
.idea/

# CLAUDE CODE
CLAUDE.md

# OS junk
.DS_Store
